.club {
  margin-top: 68px;
}

.club__future {
  display: flex;
  align-items: center ;
  gap: 38px;
}
.club__future-title {
  display: flex;
  font-size: 96px;
  line-height: 1;
  row-gap: 15px;
  flex-direction: column;
}
.club__future-title span:nth-child(2){
  font-size: 40px;
  text-transform: uppercase;
}
.club__future-title span:nth-child(3){
  font-size: 40px;
}
.club__mission {
 
}
.club__mission-title {
}
.club__mission-text {
}
.club__mission-content {
}
.club__mission-table {
}