{% extends 'base.html' %}

{% block title %} About us {% endblock %}

{% block content %}
    <div class="about__main">
        <div class="container">
            <div class="about__text">
                <h3 class="lang" key="about__text__h3">Meet Your Farmer</h3>
                <p class="lang" key="about__text__p">
                    Bolot is a skilled and motivated young farmer from Kyrgyzstan, north of Bishkek. We are proud to collaborate with him and grateful to farmers like him, who are the future of Kyrgyz agriculture. Bolot and his family, and James, raised broilers in three mobile coops using regenerative agriculture practices. Our chickens are raised without antibiotics or hormones, using only 100% natural methods to ensure their health and happiness.
                </p>
            </div>
        </div>
        <div class="column about__col">
            <div class="col__1">
                <div class="row container">
                    <img src="{{ url_for('static', filename='img/chick_bol.jpg') }}" alt="img">
                    <div class="about__content">
                      <p class="lang" key="col__1__p1">James and Bolot</p>
                    </div>
                    <img src="{{ url_for('static', filename='img/roost.jpg') }}" alt="img">
                    <div class="about__content">
                      <p class="roost lang" key="col__1__p2">Using mobile coops, the chickens received lots of sunlight and fresh air.</p>
                    </div> 
                </div>
            </div>
            <div class="col__2">
                <div class="row container">
                    <img src="{{ url_for('static', filename='img/field.jpg') }}" alt="img">
                    <p class="field lang" key="col__2__p1">
                        The chickens were given fresh pasture each day, and left behind valuable fertilizer, rejuvenating Bolot’s field.
                    </p>
                    <img src="{{ url_for('static', filename='img/meat.jpg') }}" alt="img">
                    <p class="lang" key="col__2__p2">
                        Renew hand-processes all of our broilers, giving you the highest quality chicken.
                    </p>
                </div>
            </div>
            <div class="col__3">
                <div class="row container">
                    <img src="{{ url_for('static', filename='img/friends.jpg') }}" alt="img">
                    <p class="lang" key="col__3">
                        Thank you for supporting Renew Regenerative Farms! Our goal is to bring redemption to the land and lives that we touch.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}