{% extends 'base.html' %}

{% block title %} Pasture Raised Chicken {% endblock %}

{% block content %}
    <div class="chick__main">
        <div class="chick__box">
            <h3> Why choose pasture-raised chickens?</h3>
            <p>Here's a deep dive into the benefits</p>
        </div>
        <div class="chick__benefits">
            <div class="container">
                <div class="row">
                    <div class="box-column">
                        <div class="box-column__1">
                            <div class="box__1">
                                <h4>Nutritional Superiority</h4>
                                <p>
                                    Our pasture-raised chicken meat is a nutritional powerhouse. It's packed with higher levels of essential nutrients such as omega-3 fatty acids, vitamins (like vitamins A, D, E, and the B vitamin complex), and minerals (including selenium and iron) compared to commercially raised chicken.
                                </p>
                            </div>
                            <div class="box__3">
                                <h4>Balanced Fats</h4>
                                <p>
                                    Our pasture-raised chickens have a healthier fat profile: they have lower levels of unhealthy saturated fats and higher levels of heart-healthy monounsaturated and polyunsaturated fats.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="box-column">
                        <div class="box-column__2">
                            <div class="box__2">
                                <h4>No Harmful Chemicals</h4>
                                <p>
                                    We do not use any harmful pesticides, antibiotics, or synthetic growth hormones, ensuring your food is free from chemicals and is healthy and wholesome.
                                </p>
                            </div>
                            <div class="box__4">
                                <h4>Omega-3 Rich</h4>
                                <p>
                                    Our chickens graze on fresh pasture, allowing them to accumulate higher levels of omega-3 fatty acids, which are known to support heart health and reduce inflammation.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="chick__box chick__box__2">
            <h3>Our pasture-raised chickens vs. commercially raised</h3>
        </div>
        <div class="chick__vs">
            <div class="container">
                <div class="vs__col">
                    <div class="row">
                        <div class="vs__box vs__box__1">
                            <img src="{{ url_for('static', filename='img/one.svg') }}" class="vs__one">
                            <h4>Quality of Life</h4>
                            <p>Our chickens enjoy a life of freedom, with access to fresh grass, insects, and daily moves to new pastures, resulting in happier, healthier birds.</p>
                        </div>
                        <div class="vs__box">
                            <img class="vs__img" src="{{ url_for('static', filename='img/vs_chick.jpg') }}">
                        </div>
                        <div class="vs__box vs__box__2">
                            <img src="{{ url_for('static', filename='img/two.svg') }}" class="vs__two">
                            <h4>Freshness & Flavor</h4>
                            <p>The varied diet and exercise our chickens receive make their meat not only more nutritious but also more flavorful and succulent.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="chick__box__last">
            <div class="container">
                <p>
                    Support Renew Regenerative Farms to savor the benefits of nutritionally superior, ethically raised chicken and contribute to the regeneration of our precious soils and communities. Join us in making a difference, one regenerative farm at a time!
                </p>
            </div>
        </div>
    </div>
{% endblock %}