{% extends 'base.html' %}

{% block title %} Club {% endblock %}


{% block content %}
    <main>
      <div class="club">
        <div class="container">
          <section class="club__future">
            <img src="../static/img/club-future.png" alt="Club Future">
              <h1 class="club__future-title"> 
                  <p class="future-title1">Будущие</p> 
                  <div class="future-title2"><p>фермеры </p></div>           
                  <p class="future-title3">Кыргызстана</p>          
              </h1>
            </div>
          </section>
          <section class="club__mission">
            <div class="container">
              <h2 class="club__mission-title">Миссия  нашего клуба</h2>
              <p class="club__mission-text">Увеличить количество фермеров и фермерских клубов путем предоставления детям базового обучения фермерству. Члены нашего клуба научаться обрабатывать землю, выращивать животных и экологически чистые продукты и получать возможность забрать урожай домой или продать его через наши фермы.</p>
              <div class="club__mission-content">
                <img src="../static/img/club-mission.png" alt="Club Mission">
                <div class="club__mission-table">
                  <h3>Членство в Клубе будущих фермеров Кыргызстана: </h3>
                  <p>7000 сом/месяц  (ребенок)</p>
                  <p>Еженедельные субботние встречи</p>
                  <p>Обед в Гайд-парке</p>
                  <p>Класс садоводства</p>
                  <p>Практика английского языка</p>
                  <p>Походы и игры</p>
                  <p>Бесплатные садовые продукты</p>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </main>
{% endblock %}





 









