{% extends 'base.html' %}

{% block title %} Club {% endblock %}


{% block content %}
    <main>
      <div class="club">
        <div class="container">
          <section class="club__future">
            <img src="../static/img/club-future.png" alt="Club Future">
              <h1 class="club__future-title"> 
                  <p class="future-title1 lang" key="club__future-title_1">Будущие</p>
                  <span class="future-title2 lang green-block" key="club__future-title_2"><p>фермеры </p></span>
                  <p class="future-title3 lang" key="club__future-title_3">Кыргызстана</p>
              </h1>
          </section>
        </div>
          <section class="club__mission">
            <div class="container">
              <h2 class="club__mission-title lang" key="club__mission-title"><span class="green-block">Миссия</span>   нашего клуба</h2>
              <p class="club__mission-text lang" key="club__mission-text">Увеличить количество фермеров и фермерских клубов путем предоставления детям базового обучения фермерству. Члены нашего клуба научаться обрабатывать землю, выращивать животных и экологически чистые продукты и получать возможность забрать урожай домой или продать его через наши фермы.</p>
              <div class="club__mission-content">
                <img src="../static/img/club-mission.png" alt="Club Mission">
                <div class="club__mission-table">
                  <h3 class="lang" key="club__mission-table_1">Членство в Клубе будущих фермеров Кыргызстана: </h3>
                  <p class="lang" key="club__mission-table_2">7000 сом/месяц  (ребенок)</p>
                  <p class="lang" key="club__mission-table_3">Еженедельные субботние встречи</p>
                  <p class="lang" key="club__mission-table_4">Обед в Гайд-парке</p>
                  <p class="lang" key="club__mission-table_5">Класс садоводства</p>
                  <p class="lang" key="club__mission-table_6">Практика английского языка</p>
                  <p class="lang" key="club__mission-table_7">Походы и игры</p>
                  <p class="lang" key="club__mission-table_8">Бесплатные садовые продукты</p>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </main>
{% endblock %}





 









