{% extends 'base.html' %}

{% block title %} Club {% endblock %}


{% block content %}
    <main>
      <div class="club">
        <div class="container">
          <section class="club__future">
            <img src="../static/img/club-future.png" alt="Club Future">
            <h1 class="club__future-title">             
              <span>Будущие</span>                 
              <span>фермеры </span>
              <span>Кыргызстана</span>
            </h1>
          </section>
          <section class="club__mission">
              <h2 class="club__mission-title"></h2>
              <p class="club__mission-text"></p>
              <div class="club__mission-content">
                <img src="../static/img/club-mission.png" alt="Club Mission">
                <div class="club__mission-table">
                  <h3>Членство в Клубе будущих фермеров Кыргызстана: </h3>
                  <p>7000 сом/месяц  (ребенок)</p>
                  <p>Еженедельные субботние встречи</p>
                  <p>Обед в Гайд-парке</p>
                  <p>Класс садоводства</p>
                  <p>Практика английского языка</p>
                  <p>Походы и игры</p>
                  <p>Бесплатные садовые продукты  </p>
                </div>
              </div>
          </section>
        </div>
      </div>
    </main>
{% endblock %}





 









