{% extends 'base.html' %}

{% block title %} Contact us{% endblock %}

{% block content %}
    <div class="contacts__main">
        <div class="container">
            <div class="contacts__text">
                <div class="contacts__img">
                    <img src="{{ url_for('static', filename='img/chickens.jpg') }}" alt="img">
                </div>
                <p>
                    Demand for our chicken has increased and we quickly sold out. If you want to order chicken meat from our next batch, please contact us! And please let us know if you have any questions or want more information! Thank you for your interest!
                </p>
            </div>
            <div class="contacts__form">
                <h3>We are glad that you chose us!</h3>
                <form>
                    <label for="name">Name*</label>
                    <input type="text" id="name" name="name">
                    <label for="surname">Surname*</label>
                    <input type="text" id="surname" name="surname">
                    <label for="email">Email*</label>
                    <input type="email" id="email" name="email">
                    <label for="comment">Comment</label>
                    <input type="text" id="comment" name="comment">
                    <br>
                    <input type="submit" value="send">
                </form>
            </div>
        </div>
    </div>

{% endblock %}