{% extends 'base.html' %}

{% block title %} Contact us{% endblock %}

{% block content %}
<div class="contacts__main">
        <div class="container">
            <div class="contacts__text">
                <div class="contacts__img">
                    <img src="{{ url_for('static', filename='img/chickens.jpg') }}" alt="img">
                </div>
                <p class="lang" key="contacts__text">
                    Demand for our chicken has increased and we quickly sold out. If you want to order chicken meat from our next batch, please contact us! And please let us know if you have any questions or want more information! Thank you for your interest!
                </p>
            </div>
            <div class="contacts__form">
                <h2 class="lang" key="contacts__form__h2">We are glad that you chose us!</h2>
                <p class="lang" key="subscribe__text__h5">*Required fields</p>
                {% for msg in get_flashed_messages() %}
                <div class="flash">{{msg}}</div>
                {% endfor %}
                <form action="/send_email" method="post">
                    <div class="input__box">
                        <label for="name"  class="lang" key="name">Name*</label>
                        <input type="text" id="name" name="name" required='required'>
                    </div>
                    <div class="input__box">
                        <label for="phone" class="lang" key="phone">Phone number*</label>
                        <input type="number" id="phone" name="phone" required='required'>
                    </div>
                    <div class="input__box">
                        <label for="email" class="lang" key="email">Email*</label>
                        <input type="email" id="email" name="email" required='required'>
                    </div>
                    <div class="input__box">
                        <label for="comment">Comment</label>
                        <textarea id="comment" name="comment" class="lang" key="comment" placeholder=""></textarea>
                    </div>
                    <div>
                        <input value="Send" type="submit" class="con__bot" name="con__bot" key="submit_2">
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}