<footer>
    <div class="container">
        <div class="footer__wrap">
            <div class="social">
              <a href="{{ url_for('contacts') }}" class="social__button lang" key="social__button">Contact us</a>
              <div class="social__icons">
                <a href="https://api.whatsapp.com/send/?phone=+996706347180"><img src="{{ url_for('static', filename='img/whats.svg') }}"></a>
                <a href="mailto:renewregenerativefarms@gmail.com"><img src="{{ url_for('static', filename='img/mail.svg') }}"></a>
                <a href="https://t.me/+996778044031"><img src="{{ url_for('static', filename='img/telegram.svg') }}"></a>
              </div>
              <div class="social__address">
                <p class="lang" key="social__address">Kyrgyzstan, Chui region, Leskhoz village, Gidrovskaya street 16</p>
              </div>
            </div>
            <div class="map">
              <iframe
                      src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d6942.839729981737!2d74.55878952891999!3d42.976071868684144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zNDLCsDU4JzM3LjgiTiA3NMKwMzMnMjguNiJF!5e0!3m2!1sru!2skg!4v1709010127860!5m2!1sru!2skg" width="399" height="317" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
              </iframe>
              <div class="apppa">
                <p class="lang" key="apppa">Renew Regenerative Farms is a member of the
                American Pastured Poultry Producers Association
                </p>
                <img src="{{ url_for('static', filename='img/apppa.png') }}">
              </div>
            </div>
            <div class="subscribe">
                {% for i in footer_text %}
                <div class="subscribe__text">
                    <h2 class="lang" key="{{ i.two }}">
                        {{ i.one }}
                    </h2>
                    <h5 class="lang" key="subscribe__text__h5">
                        *Required fields
                    </h5>
                </div>
                {% endfor %}
                <div class="subscribe__form">
                    <form action="/send_email" method="post">
                        <label for="name" class="lang" key="name">Name*</label>
                        <input type="text" id="name" name="name">
                        <br>
                        <label for="phone" class="lang" key="phone">Phone number*</label>
                        <input type="number" id="phone" name="phone">
                        <br>
                        <label for="email" class="lang" key="email">Email*</label>
                        <input type="email" id="email" name="email">
                        <br>
                        <label for="comment_1" class="lang" key="comment_1">Comment</label>
                        <input type="text" id="comment_1" name="comment">
                        <br>
                        
                        <input type="submit" name="footerBtn" class="lang footer__button" key="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>