
<header>
    <div class="container">
        <div class="header-top">
            <div class="logo">
                <img src="{{ url_for('static', filename='img/logo.svg') }}">
            </div>
            <div class="language">
                <button id="ru" class="translate"><img src="{{ url_for('static', filename='img/ru.png') }}"></button>
                <button id="eng" class="translate"><img src="{{ url_for('static', filename='img/eng.png') }}"></button>
            </div>
        </div>
        <div class="header-middle">
            <div class="pages__name">
                <ul class="pages__links">
                    <li><a href="{{ url_for('index') }}" class="lang" key="home">HOME</a></li>
                    <li><a href="{{ url_for('farming_club') }}" class="lang" key="club">FARMING CLUB</a></li>
                    <li><a href="{{ url_for('chicken_pasture') }}" class="lang" key="pasture">PASTURE RAISED CHICKEN</a></li>
                    <li><a href="{{ url_for('about') }}" class="lang" key="about">ABOUT US</a></li>
                    <li><a href="{{ url_for('contacts') }}" class="lang" key="contact">CONTACT</a></li>
                </ul>
            </div>
        </div>
        <div class="header-bottom">
            <div class="orange-block">
                <p class="lang" key="orange-block">Discover the Nutritional Power of Pasture-Raised Chicken with Renew! </p>
            </div>
        </div>
    </div>
</header>