<header>
    <div class="container">
        <div class="header-top">
            <div class="logo">
                <img src="{{ url_for('static', filename='img/logo.svg') }}">
            </div>
            <div class="lang">
                <img src="{{ url_for('static', filename='img/ru.svg') }}">
                <img src="{{ url_for('static', filename='img/eng.svg') }}">
            </div>
        </div>
        <div class="header-middle">
            <div class="pages__name">
                <ul class="pages__links">
                    <li><img src="{{ url_for('static', filename='img/left_line.svg') }}"></li>
                    <li><a href="{{ url_for('index') }}">HOME</a></li>
                    <li><a href="{{ url_for('farming_club') }}">FARMING CLUB</a></li>
                    <li><a href="{{ url_for('chicken_pasture') }}">PASTURE RAISED CHICKEN</a></li>
                    <li><a href="{{ url_for('about') }}">ABOUT US</a></li>
                    <li><a href="{{ url_for('contacts') }}">CONTACT</a></li>
                    <li><img src="{{ url_for('static', filename='img/right_line.svg') }}"></li>
                </ul>
            </div>
        </div>
        <div class="header-bottom">
            <div class="orange-block">
                <p>Откройте для себя питательную ценность цыплят, выращенных на пастбищах, с Renew!</p>
            </div>
        </div>
    </div>
</header>