{% extends 'base.html' %}

{% block title %} Главная страница {% endblock %}



{% block content %}
    <div class="main">
        <div class="container">
            <div class="main__info">
                <div class="info__top">
                    <div class="main__images">
                        <div class="flag__image">
                            <img src="{{ url_for('static', filename='img/flag_kg.png') }}">
                        </div>
                        <div class="chick__image">
                            <img src="{{ url_for('static', filename='img/chick.png') }}">
                        </div>
                    </div>
                    <div class="main__text">
                        <p>
                            Renew is a collection of local farms in Kyrgyzstan, passionate about sustainable, regenerative farming practices. We are farmers who are committed to raising the healthiest and most nutritious chicken.
                        </p>
                    </div>
                </div>
                <div class="info__buttom">
                    <div class="main__button">
                        <a href="{{ url_for ('contacts') }}">
                            CONTACT US
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

